.wrapper {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.app-aside {
    flex: 1;
    border: 1px solid grey;
}

.app-content {
    flex: 2;
    border: 1px solid black;
    padding: 15px;
}