<h3>httpreq component</h3>

<p *ngIf="errorMessage">
    {{errorMessage}}
</p>

<pre>
   div class="post" *ngFor="let post of posts | slice:0:5"
        post.title - post.body from post.userId
   /div
</pre>
<div class="post" *ngFor="let post of posts | slice:0:5">
    {{post.title}} - {{post.body}} from {{post.userId}}
</div>

<hr>

<pre>
   div class="post" *ngFor="let post of postsUser | async | slice:0:5"
        post.title - post.body from post.userId
   /div
</pre>
<div class="post" *ngFor="let post of postsUser | async | slice:0:5">
    {{post.title}} - {{post.body}} from {{post.userId}}
</div>
<hr>